.container {
  position: relative;
}

.loader {
  display: block;
  margin: 1rem auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 10px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff6600;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 18px;
  font-weight: bold;
  animation: messageColor 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes messageColor {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: #ff6600;
  }
  75% {
    color: blueviolet;
  }
  100% {
    color: orange;
  }
}

@media (max-width: 500px) {
  .loader {
    width: 200px;
    height: 200px;
  }

  .message {
    font-size: 16px;
  }
}
