.container {
  margin: 2rem 0;
}

.event__image__div input {
  display: none;
}

.event__image__div {
  transition: box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.event__image__div:hover {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

.event__image__div label {
  aspect-ratio: 1/0.35;
  background-color: #f8f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  border: 1px dashed #eeedf2;
  border-radius: 5px;
}

.upload__text {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid rgb(169, 168, 179);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 12px 8px;
}

.event__image__div:hover .upload__text {
  z-index: 10;
}

.image__preview {
  position: absolute;
  inset: 0;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1/0.4;
}

@media (max-width: 680px) {
  .event__image__div label {
    aspect-ratio: 1/0.5;
  }

  .image__preview {
    aspect-ratio: 1/0.5;
  }
}
