.search__container {
  background-color: #4a0094;
  padding: 3rem 2rem 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  max-width: 960px;
  width: 100%;
}

.searchBar {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 18px;
  width: 100%;
}

.result__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.result__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8rem 1rem;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.result__card:hover {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

.content {
  margin-right: 1rem;
  flex: 0 1 50%;
}

.image__container {
  flex: 0 1 50%;
}

.img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 1/0.5;
}

.event__title {
  color: #39364f;
  font-size: 1.25rem;
  font-weight: 600;
  text-overflow: ellipsis;
}

.event__time,
.event__location {
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.875rem;
}

.event__location {
  color: #6f7287;
}

.event__time {
  margin: 1rem 0;
  color: #d1410c;
}
